<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ja</string>
		<string>zh-Hans</string>
		<string>zh-Hant-HK</string>
		<string>ru</string>
		<string>fr</string>
		<string>es</string>
		<string>ar</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ericterminal.els.watch.shortcuts</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>etosllmstudio</string>
			</array>
		</dict>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>语音输入需要访问语音识别</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>需要访问本地网络以连接到调试服务器,用于配置管理和文件传输</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
		<string>_ws._tcp</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>ETCommitHash</key>
	<string>LocalBuild</string>
</dict>
</plist>
